*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* NAVBAR */

header{
  display: grid;
  grid-template-columns: 20% 60% 20%;
}

.logo img{
  width: 60%;
  margin-top: 10px;
}

.navi ul {
  display: grid;
  grid-template-columns: repeat(5,1fr);
}

li{
  margin-top: 40px;
  list-style: none;
}

a{
  text-decoration: none;
  font-size: 20px;
  color: #000;
}

a:hover{
  color: orange;
}

nav ul li a::after{
  content: '';
  margin-top: 20px;
  margin-left: -50px;
  width: 0px;
  height: 5px;
  position: absolute; 
  transition: 0.5s;
}

nav ul li a:hover::after{
  width: 60px;
  background-color: orange;
}
/* ICONS */

#src-icon{
  position: relative;
  top: 40px;
}

#stg-icon{
  position: relative;
  top: 40px;
  left: 30px;
}

#prh-icon{
  position: relative;
  top: 40px;
  left: 60px;
}

/* NAVBAR-ENDS */


/* Blog img strt*/
.first img{

  height:80%;
  margin-top: 1px;
}
.conte{
  margin-top: 30px;
  font-size: 29px;
  line-height:50px ;
  font-style: bold;
  color: black;
  text-align: center;
}
/* blog img ends */

/* FAQ strt */
h1{
  margin-left: 340px;
  margin-top: -98px;
  font-size: 50px;
  font-weight: 50px;
}
.Q1{
  margin-top: 80px;
  margin-left: 300px;
}
.Q1 h4{
  font-size: 25px;
  font-weight: bold;
}
.Q1 p{
  margin-top: 20px;
  line-height: 25px;
}
.Q2,.Q3,.Q4,.Q5,.Q6,.Q7,.Q8,.Q0{
  margin-top: 20px;
  margin-left: 300px;
}
.Q2 h4{
  font-size: 25px;
  font-weight: bold;
}
.Q2 p{
  margin-top: 20px;
}
.par{
  margin-top: 50px;
  margin-left: 50px;
  line-height: 25px;
}

.Q3 h4{
  font-size: 25px;
  font-weight: bold;
}
.Q3 p{
  margin-top: 20px;
  line-height: 25px;
}

.Q4 h4{
  font-size: 25px;
  font-weight: bold;
}
.Q4 p{
  margin-top: 20px;
  line-height: 25px;
}

.Q5h h4{
  font-size: 25px;
  font-weight: bold;
}
.Q5 p{
  margin-top: 20px;
  line-height: 25px;
}

.Q6 h4{
  font-size: 25px;
  font-weight: bold;
}
.Q6 p{
  margin-top: 20px;
  line-height: 25px;
}

.Q7 h4{
  font-size: 25px;
  font-weight: bold;
}
.Q7 p{
  margin-top: 20px;
  line-height: 25px;
}

.Q8 h4{
  font-size: 25px;
  font-weight: bold;
}

.Q8 p{
  margin-top: 20px;
  line-height: 25px;
}

/* FAQ ends */




footer{
  margin-top: 200px;
  display: grid;
  grid-template-columns: repeat(4,1fr);
}

h4{
  font-size: 30px;
}
.Information{
  margin-left: 90px;
}

.Collections{
  margin-left: 50px;
}

.newsletter p{
  font-size: 19px;
}
#ul{
  line-height: 0px;
} 

button{
  margin-top: 50px;
  font-size: 19px;
  font-family: italic;
  padding: 10px 30px 10px 30px;
  background-color: orange;
  color: #fff;
  border-color:orange ;
  border-radius: 5px;
  border-radius: 10px;
}

button:hover{
  background-color: ghostwhite;
  transition-duration: 2s;
  transition-timing-function: ease;
  border: 0;
  color: black;   
}

/* sub-footer */

.sub-footer{
  margin-top: 100px;
  background-color: rgb(231, 234, 235);
  opacity: 0.8;
  width: 100%;
  height: 200px;
} 


/* sub-footer */
.sub-icons{
  position: relative;
  top: 20px;
  margin-left: 510px;
}

#fb-icon{
  padding: 20px;
}

#fb-icon:hover{
  color: orange;
}

#int-icon{
  padding: 20px;
}
#int-icon:hover{
  color: orange;
}

#ld-icon{
  padding: 20px;
} 
#ld-icon:hover{
  color: orange;
}

#twi-icon{
  padding: 20px;
}
#twi-icon:hover{
  color: orange;
}

#youtube-icon{
padding: 10px;
}
#youtube-icon:hover{
  color: orange;
}

.copyright{
  margin-top: 18px;
  margin-left: 470px;
  word-spacing: 3px;

}

#sub-icon{
  margin-left: 560px;
  margin-top: 30px;
}

#sub-icon:hover{
  color: orange;
} 

.sub-number p{
  font-size: 20px;
  margin-left: 600px;
  margin-top: -25px;
} 

/* sub-footer ends */




@media screen and (min-width:480px ) and (max-width:767px) {
   
  .main{
      display: inline;
  }
}
